In [2]:
import numpy as np
import pandas as pd
import cufflinks as cf
import plotly
import matplotlib.pyplot as plt

/opt/conda/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning:

The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.

In [8]:
stmf = pd.read_csv("stmf.csv.gz")
stmf

,country_code,cname,iso2,continent,iso3,year,week,sex,split,split_sex,forecast,approx_date,age_group,death_count,death_rate,deaths_total,rate_total
0,AUS,Australia,AU,Oceania,AUS,2015,1,m,1,0,0,2015-01-04,0-14,5.800872,0.000130,1189.0,0.005225
1,AUS,Australia,AU,Oceania,AUS,2015,1,m,1,0,0,2015-01-04,15-64,202.199128,0.001337,1189.0,0.005225
2,AUS,Australia,AU,Oceania,AUS,2015,1,m,1,0,0,2015-01-04,65-74,206.000000,0.010821,1189.0,0.005225
3,AUS,Australia,AU,Oceania,AUS,2015,1,m,1,0,0,2015-01-04,75-84,382.000000,0.040008,1189.0,0.005225
4,AUS,Australia,AU,Oceania,AUS,2015,1,m,1,0,0,2015-01-04,85+,393.000000,0.118851,1189.0,0.005225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507670,USA,United States,US,North America,USA,2021,5,b,0,0,1,2021-02-07,0-14,389.000000,0.000339,67383.0,0.010633
507671,USA,United States,US,North America,USA,2021,5,b,0,0,1,2021-02-07,15-64,15853.000000,0.003880,67383.0,0.010633
507672,USA,United States,US,North America,USA,2021,5,b,0,0,1,2021-02-07,65-74,14295.000000,0.022178,67383.0,0.010633
507673,USA,United States,US,North America,USA,2021,5,b,0,0,1,2021-02-07,75-84,16915.000000,0.051328,67383.0,0.010633
507674,USA,United States,US,North America,USA,2021,5,b,0,0,1,2021-02-07,85+,19931.000000,0.152375,67383.0,0.010633

In [9]:
uspop = pd.read_csv("uspop.csv.gz")
uspop

,state,state_abbr,statefips,region_name,division_name,sex_id,sex,hisp_id,hisp_label,fips,pop,white,black,amind,asian,nhopi,tom
0,Alabama,AL,1,South,East South Central,female,Female,hisp,Hispanic,0400000US01,102145,85914,7514,3072,843,1161,3641
1,Alabama,AL,1,South,East South Central,female,Female,nhisp,Not Hispanic,0400000US01,2421611,1635511,693540,13929,38044,1345,39242
2,Alabama,AL,1,South,East South Central,female,Female,tothisp,Total,0400000US01,2523756,1721425,701054,17001,38887,2506,42883
3,Alabama,AL,1,South,East South Central,male,Male,hisp,Hispanic,0400000US01,115036,96717,8113,3839,936,1488,3943
4,Alabama,AL,1,South,East South Central,male,Male,nhisp,Not Hispanic,0400000US01,2249079,1561813,601635,13535,33344,1213,37539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454,Wyoming,WY,56,West,Mountain,male,Male,nhisp,Not Hispanic,0400000US56,263944,245867,3985,6079,2662,201,5150
455,Wyoming,WY,56,West,Mountain,male,Male,tothisp,Total,0400000US56,294534,272499,4492,8004,2897,302,6340
456,Wyoming,WY,56,West,Mountain,totsex,Both Sexes,hisp,Hispanic,0400000US56,58227,50690,959,3598,451,178,2351
457,Wyoming,WY,56,West,Mountain,totsex,Both Sexes,nhisp,Not Hispanic,0400000US56,519510,484253,6598,12262,5762,394,10241
458,Wyoming,WY,56,West,Mountain,totsex,Both Sexes,tothisp,Total,0400000US56,577737,534943,7557,15860,6213,572,12592

In [10]:
apple_mobility = pd.read_csv("apple_mobility.csv.gz")
apple_mobility

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3251: DtypeWarning:

Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.

,geo_type,region,transportation_type,alternative_name,sub_region,country,date,score
0,country/region,Albania,driving,NaN,NaN,NaN,2020-01-13,100.00
1,country/region,Albania,driving,NaN,NaN,NaN,2020-01-14,95.30
2,country/region,Albania,driving,NaN,NaN,NaN,2020-01-15,101.43
3,country/region,Albania,driving,NaN,NaN,NaN,2020-01-16,97.20
4,country/region,Albania,driving,NaN,NaN,NaN,2020-01-17,103.55
...,...,...,...,...,...,...,...,...
2045271,county,Yuma County,walking,NaN,Arizona,United States,2021-03-19,199.66
2045272,county,Yuma County,walking,NaN,Arizona,United States,2021-03-20,199.06
2045273,county,Yuma County,walking,NaN,Arizona,United States,2021-03-21,153.82
2045274,county,Yuma County,walking,NaN,Arizona,United States,2021-03-22,178.11
2045275,county,Yuma County,walking,NaN,Arizona,United States,2021-03-23,162.92

In [11]:
cdc_catchments = pd.read_csv("cdc_catchments.csv.gz")
cdc_catchments

         name            area
0   COVID-NET  Entire Network
1         EIP      California
2         EIP        Colorado
3         EIP     Connecticut
4         EIP  Entire Network
5         EIP         Georgia
6         EIP        Maryland
7         EIP       Minnesota
8         EIP      New Mexico
9         EIP        New York
10        EIP          Oregon
11        EIP       Tennessee
12       IHSP  Entire Network
13       IHSP            Iowa
14       IHSP        Michigan
15       IHSP            Ohio
16       IHSP            Utah

In [12]:
cdc_deaths_by_age = pd.read_csv("cdc_deaths_by_age.csv.gz")
cdc_deaths_by_age

,data_as_of,age_group,start_week,end_week,covid_deaths,total_deaths,percent_expected_deaths,pneumonia_deaths,pneumonia_and_covid_deaths,all_influenza_deaths_j09_j11
0,2020-04-30,All ages,2020-02-01,2020-04-25,34521,713386,0.97,62725,15301,5821
1,2020-04-30,Under 1 yr,2020-02-01,2020-04-25,4,3699,0.97,34,1,11
2,2020-04-30,1â€“4 yr,2020-02-01,2020-04-25,2,712,0.97,33,2,30
3,2020-04-30,5â€“14 yr,2020-02-01,2020-04-25,3,1063,0.97,37,0,40
4,2020-04-30,15â€“24 yr,2020-02-01,2020-04-25,39,6334,0.97,133,16,41
5,2020-04-30,25â€“34 yr,2020-02-01,2020-04-25,263,13430,0.97,444,109,130
6,2020-04-30,35â€“44 yr,2020-02-01,2020-04-25,647,19374,0.97,1003,255,206
7,2020-04-30,45â€“54 yr,2020-02-01,2020-04-25,1776,37546,0.97,2596,728,511
8,2020-04-30,55â€“64 yr,2020-02-01,2020-04-25,4347,90338,0.97,7594,1902,1076
9,2020-04-30,65â€“74 yr,2020-02-01,2020-04-25,7419,140332,0.97,13037,3256,1267
10,2020-04-30,75â€“84 yr,2020-02-01,2020-04-25,9416,176370,0.97,17346,4295,1301
11,2020-04-30,85 yr,2020-02-01,2020-04-25,10605,224188,0.97,20468,4737,1208

In [13]:
cdc_deaths_by_sex = pd.read_csv("cdc_deaths_by_sex.csv.gz")
cdc_deaths_by_sex

,data_as_of,sex,start_week,end_week,covid_deaths,total_deaths,percent_expected_deaths,pneumonia_deaths,pneumonia_and_covid_deaths,all_influenza_deaths_j09_j11
0,2020-04-30,Male,2020-02-01,2020-04-25,19581,368275,0.97,33635,8785,2989
1,2020-04-30,Female,2020-02-01,2020-04-25,14940,345085,0.97,29089,6515,2832
2,2020-04-30,Unknown,2020-02-01,2020-04-25,1,25,0.97,1,1,0

In [14]:
cdc_deaths_by_state = pd.read_csv("cdc_deaths_by_state.csv.gz")
cdc_deaths_by_state

,data_as_of,state,start_week,end_week,covid_deaths,total_deaths,percent_expected_deaths,pneumonia_deaths,pneumonia_and_covid_deaths,all_influenza_deaths_j09_j11
0,2020-04-30,Alabama,2020-02-01,2020-04-25,153.0,12427,0.91,769,43.0,83.0
1,2020-04-30,Alaska,2020-02-01,2020-04-25,NaN,856,0.79,41,NaN,NaN
2,2020-04-30,Arizona,2020-02-01,2020-04-25,194.0,15859,1.01,1115,102.0,105.0
3,2020-04-30,Arkansas,2020-02-01,2020-04-25,26.0,7774,0.94,519,NaN,67.0
4,2020-04-30,California,2020-02-01,2020-04-25,1111.0,69341,0.98,5947,643.0,552.0
5,2020-04-30,Colorado,2020-02-01,2020-04-25,511.0,10721,1.04,950,311.0,91.0
6,2020-04-30,Connecticut,2020-02-01,2020-04-25,16.0,1277,0.15,95,NaN,18.0
7,2020-04-30,Delaware,2020-02-01,2020-04-25,53.0,2034,0.85,123,24.0,14.0
8,2020-04-30,District of Columbia,2020-02-01,2020-04-25,58.0,1452,0.92,165,58.0,NaN
9,2020-04-30,Florida,2020-02-01,2020-04-25,784.0,54148,0.99,3905,423.0,281.0
10,2020-04-30,Georgia,2020-02-01,2020-04-25,460.0,19739,0.91,1306,213.0,94.0
11,2020-04-30,Hawaii,2020-02-01,2020-04-25,NaN,2830,0.94,185,NaN,18.0
12,2020-04-30,Idaho,2020-02-01,2020-04-25,44.0,3553,0.96,195,13.0,24.0
13,2020-04-30,Illinois,2020-02-01,2020-04-25,977.0,28696,1.04,2529,558.0,170.0
14,2020-04-30,Indiana,2020-02-01,2020-04-25,493.0,16502,0.95,1526,264.0,121.0
15,2020-04-30,Iowa,2020-02-01,2020-04-25,78.0,7447,0.94,531,20.0,80.0
16,2020-04-30,Kansas,2020-02-01,2020-04-25,82.0,6559,0.94,448,35.0,85.0
17,2020-04-30,Kentucky,2020-02-01,2020-04-25,105.0,10794,0.86,959,60.0,85.0
18,2020-04-30,Louisiana,2020-02-01,2020-04-25,779.0,11174,0.95,825,329.0,61.0
19,2020-04-30,Maine,2020-02-01,2020-04-25,39.0,3813,1.00,318,11.0,30.0
20,2020-04-30,Maryland,2020-02-01,2020-04-25,631.0,13661,1.05,1233,268.0,110.0
21,2020-04-30,Massachusetts,2020-02-01,2020-04-25,1872.0,17627,1.12,2036,693.0,150.0
22,2020-04-30,Michigan,2020-02-01,2020-04-25,1746.0,26798,1.06,2580,838.0,221.0
23,2020-04-30,Minnesota,2020-02-01,2020-04-25,169.0,11351,0.99,832,60.0,113.0
24,2020-04-30,Mississippi,2020-02-01,2020-04-25,186.0,8064,0.99,737,90.0,51.0
25,2020-04-30,Missouri,2020-02-01,2020-04-25,181.0,15085,0.89,956,65.0,169.0
26,2020-04-30,Montana,2020-02-01,2020-04-25,NaN,2248,0.84,132,NaN,32.0
27,2020-04-30,Nebraska,2020-02-01,2020-04-25,21.0,3971,0.90,306,NaN,27.0
28,2020-04-30,Nevada,2020-02-01,2020-04-25,134.0,6431,0.96,534,106.0,36.0
29,2020-04-30,New Hampshire,2020-02-01,2020-04-25,54.0,3193,0.99,223,18.0,29.0
30,2020-04-30,New Jersey,2020-02-01,2020-04-25,4147.0,25480,1.31,3815,2100.0,108.0
31,2020-04-30,New Mexico,2020-02-01,2020-04-25,36.0,4113,0.85,291,22.0,25.0
32,2020-04-30,New York,2020-02-01,2020-04-25,4800.0,32000,1.22,5080,2480.0,188.0
33,2020-04-30,New York City,2020-02-01,2020-04-25,10978.0,30711,2.19,6076,4019.0,850.0
34,2020-04-30,North Carolina,2020-02-01,2020-04-25,0.0,10727,0.43,639,0.0,127.0
35,2020-04-30,North Dakota,2020-02-01,2020-04-25,NaN,1546,0.85,140,NaN,18.0
36,2020-04-30,Ohio,2020-02-01,2020-04-25,171.0,26464,0.82,1502,74.0,225.0
37,2020-04-30,Oklahoma,2020-02-01,2020-04-25,114.0,8762,0.84,782,43.0,90.0
38,2020-04-30,Oregon,2020-02-01,2020-04-25,70.0,8392,0.89,446,30.0,59.0
39,2020-04-30,Pennsylvania,2020-02-01,2020-04-25,1388.0,28073,0.78,2164,553.0,176.0
40,2020-04-30,Rhode Island,2020-02-01,2020-04-25,55.0,2235,0.82,124,13.0,23.0
41,2020-04-30,South Carolina,2020-02-01,2020-04-25,150.0,12807,1.01,786,56.0,91.0
42,2020-04-30,South Dakota,2020-02-01,2020-04-25,NaN,1898,0.89,149,NaN,21.0
43,2020-04-30,Tennessee,2020-02-01,2020-04-25,127.0,18292,0.95,1364,62.0,119.0
44,2020-04-30,Texas,2020-02-01,2020-04-25,347.0,48574,0.93,3567,135.0,310.0
45,2020-04-30,Utah,2020-02-01,2020-04-25,28.0,4675,0.96,277,11.0,38.0
46,2020-04-30,Vermont,2020-02-01,2020-04-25,42.0,1570,1.04,108,10.0,14.0
47,2020-04-30,Virginia,2020-02-01,2020-04-25,326.0,17624,0.99,981,103.0,102.0
48,2020-04-30,Washington,2020-02-01,2020-04-25,527.0,14139,0.95,1175,281.0,98.0
49,2020-04-30,West Virginia,2020-02-01,2020-04-25,11.0,5022,0.85,364,NaN,57.0
50,2020-04-30,Wisconsin,2020-02-01,2020-04-25,209.0,13718,1.00,786,32.0,145.0
51,2020-04-30,Wyoming,2020-02-01,2020-04-25,NaN,1139,0.99,89,NaN,NaN
52,2020-04-30,Puerto Rico,2020-02-01,2020-04-25,63.0,5158,0.00,730,31.0,28.0

In [15]:
cdc_deaths_by_week = pd.read_csv("cdc_deaths_by_week.csv.gz")
cdc_deaths_by_week

,data_as_of,start_week,end_week,covid_deaths,total_deaths,percent_expected_deaths,pneumonia_deaths,pneumonia_and_covid_deaths,all_influenza_deaths_j09_j11,pneumonia_influenza_and_covid_19_deaths
0,2020-04-30,2020-02-01,2020-02-01,0,57263,0.97,3687,0,469,4156
1,2020-04-30,2020-02-08,2020-02-08,0,57613,0.97,3671,0,494,4165
2,2020-04-30,2020-02-15,2020-02-15,0,56871,0.97,3692,0,516,4208
3,2020-04-30,2020-02-22,2020-02-22,0,56795,0.98,3556,0,536,4092
4,2020-04-30,2020-02-29,2020-02-29,5,56831,0.99,3620,3,619,4241
5,2020-04-30,2020-03-07,2020-03-07,25,56190,0.97,3719,14,583,4312
6,2020-04-30,2020-03-14,2020-03-14,49,53940,0.95,3674,25,578,4275
7,2020-04-30,2020-03-21,2020-03-21,487,53924,0.95,4138,224,495,4890
8,2020-04-30,2020-03-28,2020-03-28,2659,57299,1.03,5598,1220,407,7397
9,2020-04-30,2020-04-04,2020-04-04,7932,63955,1.15,8643,3813,429,12978
10,2020-04-30,2020-04-11,2020-04-11,11864,65676,1.19,9580,5281,427,16272
11,2020-04-30,2020-04-18,2020-04-18,9333,52642,0.98,6928,3874,210,12434
12,2020-04-30,2020-04-25,2020-04-25,2167,24387,0.45,2219,847,58,3553

In [16]:
countries = pd.read_csv("countries.csv.gz")
countries

                 cname iso3 iso2 continent
0          Afghanistan  AFG   AF      Asia
1              Algeria  DZA   DZ    Africa
2              Armenia  ARM   AM      Asia
3            Australia  AUS   AU   Oceania
4              Austria  AUT   AT    Europe
..                 ...  ...  ...       ...
208            Lesotho  LSO   LS    Africa
209    Solomon Islands  SLB   SB   Oceania
210  Wallis and Futuna  WLF   WF   Oceania
211   Marshall Islands  MHL   MH   Oceania
212            Vanuatu  VUT   VU   Oceania

[213 rows x 4 columns]

In [17]:
covnat_daily = pd.read_csv("covnat_daily.csv.gz")
covnat_daily

,date,cname,iso3,cases,deaths,pop,cu_cases,cu_deaths
0,2019-12-31,Afghanistan,AFG,0,0,38041757.0,0,0
1,2019-12-31,Algeria,DZA,0,0,43053054.0,0,0
2,2019-12-31,Armenia,ARM,0,0,2957728.0,0,0
3,2019-12-31,Australia,AUS,0,0,25203200.0,0,0
4,2019-12-31,Austria,AUT,0,0,8858775.0,0,0
...,...,...,...,...,...,...,...,...
61831,2020-12-14,Wallis and Futuna,WLF,0,0,NaN,3,0
61832,2020-12-14,Western Sahara,ESH,0,0,582458.0,766,1
61833,2020-12-14,Yemen,YEM,0,0,29161922.0,2083,606
61834,2020-12-14,Zambia,ZMB,57,1,17861034.0,18274,367
61835,2020-12-14,Zimbabwe,ZWE,27,0,14645473.0,11246,307

In [18]:
covus_ethnicity = pd.read_csv("covus_ethnicity.csv.gz")
covus_ethnicity

             date state         group     cases  deaths   hosp  tests
0      2021-03-07    AK      Hispanic    3197.0    13.0   66.0    NaN
1      2021-03-07    AK  Non-Hispanic   29625.0   280.0  939.0    NaN
2      2021-03-07    AK       Unknown   26510.0    12.0  288.0    NaN
3      2021-03-07    AL      Hispanic   12312.0   137.0    NaN    NaN
4      2021-03-07    AL  Non-Hispanic  167064.0  6083.0    NaN    NaN
...           ...   ...           ...       ...     ...    ...    ...
15955  2020-04-12    WV  Non-Hispanic       NaN     NaN    NaN    NaN
15956  2020-04-12    WV       Unknown       NaN     NaN    NaN    NaN
15957  2020-04-12    WY      Hispanic       NaN     NaN    NaN    NaN
15958  2020-04-12    WY  Non-Hispanic       NaN     NaN    NaN    NaN
15959  2020-04-12    WY       Unknown       NaN     NaN    NaN    NaN

[15960 rows x 7 columns]

In [19]:
nchs_sas = pd.read_csv("nchs_sas.csv.gz")
nchs_sas

,data_as_of,start_date,end_date,group,year,month,state,sex,age_group,covid_19_deaths,total_deaths,pneumonia_deaths,pneumonia_and_covid_19_deaths,influenza_deaths,pneumonia_influenza_or_covid_19_deaths
0,2021-03-24,01/01/2020,03/20/2021,By Total,NaN,NaN,United States,All Sexes,All ages,526028.0,4036007.0,453484.0,255848.0,9004.0,731430.0
1,2021-03-24,01/01/2020,03/20/2021,By Total,NaN,NaN,United States,All Sexes,Under 1 year,53.0,21811.0,235.0,8.0,21.0,301.0
2,2021-03-24,01/01/2020,03/20/2021,By Total,NaN,NaN,United States,All Sexes,0-17 years,238.0,38251.0,646.0,44.0,179.0,1019.0
3,2021-03-24,01/01/2020,03/20/2021,By Total,NaN,NaN,United States,All Sexes,1-4 years,30.0,3950.0,135.0,5.0,61.0,221.0
4,2021-03-24,01/01/2020,03/20/2021,By Total,NaN,NaN,United States,All Sexes,5-14 years,87.0,6361.0,190.0,19.0,76.0,334.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49567,2021-03-24,03/01/2021,03/20/2021,By Month,NaN,NaN,Puerto Rico,Female,50-64 years,NaN,NaN,NaN,NaN,0.0,NaN
49568,2021-03-24,03/01/2021,03/20/2021,By Month,NaN,NaN,Puerto Rico,Female,55-64 years,NaN,NaN,NaN,NaN,0.0,NaN
49569,2021-03-24,03/01/2021,03/20/2021,By Month,NaN,NaN,Puerto Rico,Female,65-74 years,NaN,NaN,NaN,NaN,0.0,NaN
49570,2021-03-24,03/01/2021,03/20/2021,By Month,NaN,NaN,Puerto Rico,Female,75-84 years,NaN,NaN,NaN,NaN,0.0,NaN
49571,2021-03-24,03/01/2021,03/20/2021,By Month,NaN,NaN,Puerto Rico,Female,85 years and over,NaN,NaN,NaN,NaN,0.0,NaN

In [20]:
nchs_wdc = pd.read_csv("nchs_wdc.csv.gz")
nchs_wdc

,jurisdiction,year,week,week_ending_date,cause_detailed,n,cause
0,Alabama,2014,1,2014-01-04,All Cause,1057.0,All Cause
1,Alabama,2014,1,2014-01-04,Alzheimer disease (G30),38.0,Alzheimer's
2,Alabama,2014,1,2014-01-04,Cerebrovascular diseases (I60-I69),51.0,Cerebrovascular Diseases
3,Alabama,2014,1,2014-01-04,Chronic lower respiratory diseases (J40-J47),66.0,Chronic Lower Respiratory Diseases
4,Alabama,2014,1,2014-01-04,Diabetes mellitus (E10-E14),29.0,Diabetes
...,...,...,...,...,...,...,...
270751,Wyoming,2021,10,2021-03-13,Natural Cause,54.0,Natural Causes
270752,Wyoming,2021,10,2021-03-13,"Nephritis, nephrotic syndrome and nephrosis (N...",NaN,Kidney Diseases
270753,Wyoming,2021,10,2021-03-13,"Other diseases of respiratory system (J00-J06,...",NaN,Other Respiratory disease
270754,Wyoming,2021,10,2021-03-13,Septicemia (A40-A41),0.0,Septicemia
270755,Wyoming,2021,10,2021-03-13,"Symptoms, signs and abnormal clinical and labo...",NaN,Other

In [21]:
nchs_wss = pd.read_csv("nchs_wss.csv.gz")
nchs_wss

,data_as_of,start_date,end_date,state,group,deaths,dist_pct,uw_dist_pop_pct,wt_dist_pop_pct
0,2021-03-24,01/01/2020,03/20/2021,United States,Non-Hispanic White,320437.0,60.9,60.1,39.8
1,2021-03-24,01/01/2020,03/20/2021,United States,Non-Hispanic Black or African American,76608.0,14.6,12.5,13.2
2,2021-03-24,01/01/2020,03/20/2021,United States,Non-Hispanic American Indian or Alaska Native,6060.0,1.2,0.7,0.4
3,2021-03-24,01/01/2020,03/20/2021,United States,Non-Hispanic Asian,20402.0,3.9,5.8,10.1
4,2021-03-24,01/01/2020,03/20/2021,United States,Non-Hispanic Native Hawaiian or Other Pacific ...,950.0,0.2,0.2,0.2
...,...,...,...,...,...,...,...,...,...
366,2021-03-24,01/01/2020,03/20/2021,Wyoming,Non-Hispanic American Indian or Alaska Native,45.0,7.4,2.1,1.9
367,2021-03-24,01/01/2020,03/20/2021,Wyoming,Non-Hispanic Asian,NaN,NaN,1.1,1.0
368,2021-03-24,01/01/2020,03/20/2021,Wyoming,Non-Hispanic Native Hawaiian or Other Pacific ...,0.0,0.0,0.1,0.1
369,2021-03-24,01/01/2020,03/20/2021,Wyoming,Hispanic or Latino,52.0,8.5,10.1,10.9
370,2021-03-24,01/01/2020,03/20/2021,Wyoming,Other,NaN,NaN,1.8,2.0

In [22]:
nssp_covid_er_nat = pd.read_csv("nssp_covid_er_nat.csv.gz")
nssp_covid_er_nat

,week,num_fac,total_ed_visits,visits,pct_visits,visit_type,region,source,year
0,40,3255,2146776,19503,0.009,ili,National,Emergency Departments,2019
1,41,3249,2106999,20457,0.010,ili,National,Emergency Departments,2019
2,42,3256,2101358,22515,0.011,ili,National,Emergency Departments,2019
3,43,3254,2122427,23776,0.011,ili,National,Emergency Departments,2019
4,44,3295,2087335,25466,0.012,ili,National,Emergency Departments,2019
5,45,3315,2137854,29948,0.014,ili,National,Emergency Departments,2019
6,46,3328,2122363,32425,0.015,ili,National,Emergency Departments,2019
7,47,3334,2209698,36073,0.016,ili,National,Emergency Departments,2019
8,48,3337,2097933,39613,0.019,ili,National,Emergency Departments,2019
9,49,3336,2224300,37569,0.017,ili,National,Emergency Departments,2019
10,50,3342,2240477,42485,0.019,ili,National,Emergency Departments,2019
11,51,3343,2225537,50914,0.023,ili,National,Emergency Departments,2019
12,52,3341,2332296,68616,0.029,ili,National,Emergency Departments,2019
13,1,3352,2408019,57566,0.024,ili,National,Emergency Departments,2020
14,2,3355,2291586,42550,0.019,ili,National,Emergency Departments,2020
15,3,3358,2262316,44605,0.020,ili,National,Emergency Departments,2020
16,4,3374,2259759,49574,0.022,ili,National,Emergency Departments,2020
17,5,3379,2352055,59657,0.025,ili,National,Emergency Departments,2020
18,6,3382,2340858,58961,0.025,ili,National,Emergency Departments,2020
19,7,3390,2274585,50814,0.022,ili,National,Emergency Departments,2020
20,8,3388,2256684,45846,0.020,ili,National,Emergency Departments,2020
21,9,3394,2219732,41632,0.019,ili,National,Emergency Departments,2020
22,10,3403,2250329,49686,0.022,ili,National,Emergency Departments,2020
23,11,3404,2235333,71219,0.032,ili,National,Emergency Departments,2020
24,12,3399,1794020,84208,0.047,ili,National,Emergency Departments,2020
25,13,3406,1438725,62139,0.043,ili,National,Emergency Departments,2020
26,14,3397,1245869,43457,0.035,ili,National,Emergency Departments,2020
27,40,3255,2146776,17639,0.008,cli,National,Emergency Departments,2019
28,41,3249,2106999,18693,0.009,cli,National,Emergency Departments,2019
29,42,3256,2101358,20798,0.010,cli,National,Emergency Departments,2019
30,43,3254,2122427,21682,0.010,cli,National,Emergency Departments,2019
31,44,3295,2087335,22936,0.011,cli,National,Emergency Departments,2019
32,45,3315,2137854,26708,0.012,cli,National,Emergency Departments,2019
33,46,3328,2122363,28570,0.013,cli,National,Emergency Departments,2019
34,47,3334,2209698,31142,0.014,cli,National,Emergency Departments,2019
35,48,3337,2097933,34353,0.016,cli,National,Emergency Departments,2019
36,49,3336,2224300,32847,0.015,cli,National,Emergency Departments,2019
37,50,3342,2240477,34824,0.016,cli,National,Emergency Departments,2019
38,51,3343,2225537,39550,0.018,cli,National,Emergency Departments,2019
39,52,3341,2332296,51679,0.022,cli,National,Emergency Departments,2019
40,1,3352,2408019,46491,0.019,cli,National,Emergency Departments,2020
41,2,3355,2291586,33703,0.015,cli,National,Emergency Departments,2020
42,3,3358,2262316,32874,0.015,cli,National,Emergency Departments,2020
43,4,3374,2259759,35862,0.016,cli,National,Emergency Departments,2020
44,5,3379,2352055,42505,0.018,cli,National,Emergency Departments,2020
45,6,3382,2340858,41559,0.018,cli,National,Emergency Departments,2020
46,7,3390,2274585,36932,0.016,cli,National,Emergency Departments,2020
47,8,3388,2256684,34182,0.015,cli,National,Emergency Departments,2020
48,9,3394,2219732,31438,0.014,cli,National,Emergency Departments,2020
49,10,3403,2250329,38817,0.017,cli,National,Emergency Departments,2020
50,11,3404,2235333,62435,0.028,cli,National,Emergency Departments,2020
51,12,3399,1794020,86088,0.048,cli,National,Emergency Departments,2020
52,13,3406,1438725,72058,0.050,cli,National,Emergency Departments,2020
53,14,3397,1245869,54531,0.044,cli,National,Emergency Departments,2020

In [23]:
nssp_covid_er_reg = pd.read_csv("nssp_covid_er_reg.csv.gz")
nssp_covid_er_reg

,week,num_fac,total_ed_visits,visits,pct_visits,visit_type,region,source,year
0,41,202,130377,814,0.006,ili,Region 1,Emergency Departments,2019
1,42,202,132385,912,0.007,ili,Region 1,Emergency Departments,2019
2,43,202,131866,883,0.007,ili,Region 1,Emergency Departments,2019
3,44,203,128256,888,0.007,ili,Region 1,Emergency Departments,2019
4,45,203,127466,979,0.008,ili,Region 1,Emergency Departments,2019
...,...,...,...,...,...,...,...,...,...
533,10,192,96177,2392,0.025,cli,Region 10,Emergency Departments,2020
534,11,191,91706,3517,0.038,cli,Region 10,Emergency Departments,2020
535,12,191,76249,3935,0.052,cli,Region 10,Emergency Departments,2020
536,13,192,62257,2700,0.043,cli,Region 10,Emergency Departments,2020
537,14,189,55508,1714,0.031,cli,Region 10,Emergency Departments,2020

In [24]:
nytcovcounty = pd.read_csv("nytcovcounty.csv.gz")
nytcovcounty

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
1150885  2021-03-23  Sweetwater     Wyoming  56037.0   3951    36.0
1150886  2021-03-23       Teton     Wyoming  56039.0   3532     9.0
1150887  2021-03-23       Uinta     Wyoming  56041.0   2111    12.0
1150888  2021-03-23    Washakie     Wyoming  56043.0    888    26.0
1150889  2021-03-23      Weston     Wyoming  56045.0    632     5.0

[1150890 rows x 6 columns]

In [25]:
nytcovstate = pd.read_csv("nytcovstate.csv.gz")
nytcovstate

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
21239  2021-03-23       Virginia    51  607234   10137
21240  2021-03-23     Washington    53  359290    5249
21241  2021-03-23  West Virginia    54  138429    2613
21242  2021-03-23      Wisconsin    55  630040    7241
21243  2021-03-23        Wyoming    56   55799     695

[21244 rows x 5 columns]

In [26]:
nytcovus = pd.read_csv("nytcovus.csv.gz")
nytcovus

           date     cases  deaths
0    2020-01-21         1       0
1    2020-01-22         1       0
2    2020-01-23         1       0
3    2020-01-24         2       0
4    2020-01-25         3       0
..          ...       ...     ...
423  2021-03-19  29754124  540720
424  2021-03-20  29808755  541493
425  2021-03-21  29842991  541937
426  2021-03-22  29897649  542587
427  2021-03-23  29957431  543479

[428 rows x 3 columns]

In [27]:
nytexcess = pd.read_csv("nytexcess.csv.gz")
nytexcess

,country,placename,frequency,start_date,end_date,year,month,week,deaths,expected_deaths,excess_deaths,baseline
0,Austria,NaN,weekly,2020-01-06,2020-01-12,2020,1,2.0,1702,1806.0,-104.0,2015-2019 historical data
1,Austria,NaN,weekly,2020-01-13,2020-01-19,2020,1,3.0,1797,1819.0,-22.0,2015-2019 historical data
2,Austria,NaN,weekly,2020-01-20,2020-01-26,2020,1,4.0,1779,1831.0,-52.0,2015-2019 historical data
3,Austria,NaN,weekly,2020-01-27,2020-02-02,2020,2,5.0,1947,1837.0,110.0,2015-2019 historical data
4,Austria,NaN,weekly,2020-02-03,2020-02-09,2020,2,6.0,1681,1837.0,-156.0,2015-2019 historical data
...,...,...,...,...,...,...,...,...,...,...,...,...
7253,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,48.0,56481,NaN,NaN,NaN
7254,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,49.0,57420,NaN,NaN,NaN
7255,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,50.0,58449,NaN,NaN,NaN
7256,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,51.0,59473,NaN,NaN,NaN
7257,United States,NaN,weekly,NaN,NaN,2017-2019 average,12,52.0,60391,NaN,NaN,NaN